body{
  display: flex;
  flex-direction: column;
  align-items: center
}
body div{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
body h1:first-child{
  text-align: center;
  font-family: sans-serif;
  font-weight: 900;
  color: rgb(17, 0, 255);
  position: absolute;
  top: 0px;
  left: 40.5%
}
body h1:nth-child(2){
  text-align: center;
  font-family: sans-serif;
  font-weight: 900;
  color: rgb(255, 0, 157);
  position: absolute;
  top: -3px;
  left: 40.5%
}
#welcome{
  margin: 0
}
#botones{
  display: flex;
  justify-content: center;
  margin: 0
}
#start-button{
  margin: 50px 10px 0 10px;
  width: 100px;
  height: 30px;
  background-color: rgb(255, 0, 55);
  color: white;
  font-weight: 900;
}
#pause-button{
  margin: 50px 10px 0 10px;
  width: 100px;
  height: 30px;
  background-color: rgb(255, 0, 55);
  color: white;
  font-weight: 900;
}
